{{page-title "EmberApp"}}
{{!--
<link rel="stylesheet" href="/ember-app/vendor.css"> --}}
<link rel="stylesheet" href="assets/ember-app/billy.css">

<div class="ember-app">

  <Form />
</div>


{{outlet}}
