{{page-title "EmberApp"}}
{{!--
<link rel="stylesheet" href="/ember-app/vendor.css"> --}}
<link rel="stylesheet" href="assets/ember-app/billy.css">
<script type="text/javascript" id="ember-app-list"
  src="assets/ember-app/vendor.js"></script>

<div class="ember-app">

  <Form />
</div>


{{outlet}}
